.task-form{
  display: flex;
  flex-direction: column;
 
}
.task {
 width: 450px;
}
.task-update{
  width: 100%;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.task-form label{
margin: 10px 0;
}
.task-input{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.task-button{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid green;
  background-color: green;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
}
.task-update-button{
  border: 1px solid mediumorchid;
  background-color: mediumorchid; 
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
}